<br>
<br>
<br>

<div class="row">
  <div class="column small-6 small-offset-3">
    <h2>Welcome!</h2>
    <h5>Please log in</h5>

    <%= form_tag url: admin_login_path do |f| %>
      <%= text_field_tag :username_or_email, nil, placeholder: 'Username or email' %>
      <%= password_field_tag :password, nil, placeholder: 'Password' %>
      <button class="button large">
        <%= fa_icon 'sign-in', text: 'Login' %>
      </button>
      <%= link_to 'Forgot password?', new_admin_password_reset_path, class: 'float-right' %>
    <% end %>
  </div>
</div>
