<div class="login-container">
  <%= form_tag url: admin_login_path do |f| %>
      <h2>Welcome!</h2>
      <h3>Please sign in below</h3>
      <%= text_field_tag :username_or_email, nil, placeholder: 'Username or email' %>
      <%= password_field_tag :password, nil, placeholder: 'Password' %>
      <br/>
      <%= submit_tag 'Login', class: 'btn btn-large' %>
      <br/>
      <br/>
      <%= link_to 'Forgot password?', new_admin_password_reset_path %>
  <% end %>
</div>
