<div class="signup-container">
    <%= form_for @user, url: admin_signup_path do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation" class="alert alert-error">
              <h3>Whoops...</h3>
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username, autocomplete:"off" %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, autocomplete:"off" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete:"off" %>
        </div>

        <div class="field">
          <%= f.label "Password (again)" %>
          <%= f.password_field :password_confirmation, autocomplete:"off" %>
        </div>

        <div class="actions">
          <%= f.submit value: "Sign up!", class: 'btn btn-large' %>
        </div>
  <% end %>
</div>