<% if logged_in? %>
  <%= content_for :extra_nav do %>
    <li>
      <%= link_to edit_cv_path(current_user.username) do %>
        <%= fa_icon 'edit 2x', text: 'Edit CV' %>
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="columns small-8 small-offset-2">

    <% if @cv.nil? %>
      <%= render 'no_cv' %>
  <% else %>
    <div class="pull-right">
      <%= link_to 'PDF', export_pdf_path %> |
      <%= link_to 'Microsoft Word', export_docx_path %> |
      <%= link_to 'Markdown', export_markdown_path %>
    </div>
    <div class="cv-container">
      <%= markdown @cv.markdown %>
    </div>
  <% end %>

</div>
</div>
