<% if logged_in? %>
  <%= content_for :extra_nav do %>
    <li>
      <%= link_to edit_cv_path(current_user.username) do %>
        <%= fa_icon 'edit 2x', text: 'Edit CV' %>
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="row">
  <div class="columns small-8 small-offset-2">

    <% if @cv.nil? %>
      <%= render 'no_cv' %>
    <% else %>

      <div class="float-right">
        <br>

        <%= link_to export_pdf_path, class: 'button small' do %>
          <%= fa_icon 'file-pdf-o', text: 'PDF' %>
        <% end %>

        <%= link_to export_docx_path, class: 'button small' do %>
          <%= fa_icon 'file-word-o', text: 'Microsoft Word' %>
        <% end %>

        <%= link_to export_markdown_path, class: 'button small' do %>
          <%= fa_icon 'github', text: 'Markdown' %>
        <% end %>
      </div>

      <hr>

      <%= markdown @cv.markdown %>

      <hr>

    <% end %>

  </div>
</div>
