<br>

<div class="row">
  <div class="columns small-8 small-offset-2">
    <h2 class="float-left">User details</h2>

    <%= link_to show_cv_path(@user.username), class: 'button float-right' do %>
      <%= fa_icon 'file-text', text: 'View CV' %>
    <% end %>

    <table>
      <tbody>
        <tr>
          <td><strong>Username</strong></td>
          <td><%= @user.username %></td>
        </tr>
        <tr>
          <td><strong>Email</strong></td>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to edit_admin_user_path(@user), class: 'button' do %>
      <%= fa_icon 'edit', text: 'Edit User' %>
    <% end %>

    <hr>

    <%= link_to admin_users_path do %>
      <%= fa_icon 'users', text: 'Back to Users' %>
    <% end %>
  </div>
</div>
