<!DOCTYPE html>
<html>
<head>
  <title>Brandish Your CV</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :extra_stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= yield :extra_scripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="navbar-links">
        <%= render 'layouts/header' %>
        <%= yield :extra_nav %>
      </div>
    </div>
  </div>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

  <%= yield(:inline_script) %>
</body>
</html>
