<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Brandish CV' %></title>

    <%= stylesheet_link_tag    'application' %>
    <%= yield :extra_stylesheets %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_scripts %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <% unless params[:noheader] %>
      <% if content_for?(:header) %>
        <%= yield :header %>
      <% else %>
        <%= render 'layouts/header' %>
      <% end %>

      <%= render 'shared/github_banner' %>
    <% end %>


    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "flash-message callout #{flash_css_class_for(key)}") %>
    <% end %>

    <%= yield %>

    <%= yield :inline_script %>
  </body>
</html>
